* {
  font-family: Helvetica;
  font-weight: lighter;
}

#navigation {
  text-align: right;
}

#sign-up-form {
  text-align: center;
}

#login-form {
  text-align: center;
}

#errors {
  color: red;
}